*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #322c36;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
}

#root {
  display: block;
  height: 100%;
}
